APP_ENV=development
CW1_BASE_URL=http://localhost:8080/
CW2_BASE_URL=http://localhost:8081/
APP_TIMEZONE=Asia/Colombo

SQLITE_DB_PATH=application/data/ar_alumni.sqlite
CW1_SESSION_COOKIE_NAME=aralumni_cw1_session
CW2_SESSION_COOKIE_NAME=aralumni_cw2_session
CW1_CSRF_COOKIE_NAME=csrf_cw1_cookie
CW2_CSRF_COOKIE_NAME=csrf_cw2_cookie
SESSION_COOKIE_HTTPONLY=true
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=false

API_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8081,http://127.0.0.1:8080,http://127.0.0.1:8081
API_RATE_LIMIT_PER_MINUTE=60
