<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form method="POST" action="/reset-password/<%= token %>">
    <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
    <div>
      <label>New Password</label>
      <input type="password" name="password" />
    </div>

    <div>
      <label>Confirm Password</label>
      <input type="password" name="confirmPassword" />
    </div>

    <button type="submit">Reset Password</button>
  </form>
</body>
</html>
